In [2]:
# import usefull libraries
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

# hide all the warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Load the data
df = pd.read_csv("learningSet.csv")

# Check for null values in all columns
print("Null values in columns:")
print(df.isnull().sum())

Null values in columns:
ODATEDW       0
OSOURCE       0
TCODE         0
STATE         0
ZIP           0
           ...
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
CLUSTER2    132
GEOCODE2    132
Length: 481, dtype: int64

In [5]:
# Create the drop_list
drop_list = ['OSOURCE', 'ZIP']

# Drop the columns in the drop_list
df.drop(columns=drop_list, inplace=True)

In [7]:
# Identify columns with over 85% missing values
missing_threshold = 0.85 * df.shape[0]
missing_cols = [col for col in df.columns if df[col].isnull().sum() >= missing_threshold]
print(missing_cols)

['NUMCHLD', 'RDATE_3', 'RDATE_4', 'RDATE_5', 'RDATE_6', 'RDATE_7', 'RDATE_10', 'RDATE_13', 'RDATE_15', 'RDATE_17', 'RDATE_20', 'RDATE_21', 'RDATE_23', 'RAMNT_3', 'RAMNT_4', 'RAMNT_5', 'RAMNT_6', 'RAMNT_7', 'RAMNT_10', 'RAMNT_13', 'RAMNT_15', 'RAMNT_17', 'RAMNT_20', 'RAMNT_21', 'RAMNT_23']

In [8]:
# Drop columns with over 85% missing values
df.drop(columns=missing_cols, inplace=True)

In [11]:
# Reduce the number of categories in the column GENDER
categorical = df[['GENDER']]
print("GENDER categories before reducing:")
print(categorical['GENDER'].value_counts())

GENDER categories before reducing:
F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [13]:
# Replace missing values with female
categorical['GENDER'] = categorical['GENDER'].fillna('F')

# replace the other caracters with OTHER
categorical['GENDER'] = categorical['GENDER'].replace([" ", "U", "J", "C", "A"],'OTHER')

print("GENDER categories after reducing:")
print(categorical['GENDER'].value_counts())

GENDER categories after reducing:
F        51277
M        39094
OTHER     5041
Name: GENDER, dtype: int64

In [14]:
# get the modifications to the original dataset

df['GENDER'] = categorical['GENDER']