In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('learningSet.csv')

In [3]:
df

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [4]:
#Check for null values in all the columns

In [5]:
df.isnull().sum()

ODATEDW       0
OSOURCE       0
TCODE         0
STATE         0
ZIP           0
           ...
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
CLUSTER2    132
GEOCODE2    132
Length: 481, dtype: int64

In [6]:
#Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. 
#We will append this list and then drop all the columns in this list later:

    #OSOURCE - symbol definitions not provided, too many categories
    #ZIP CODE - we are including state already

In [7]:
drop_list = ['OSOURCE', 'ZIP']

In [8]:
#Identify columns that over 85% missing values

In [11]:
nans = df.isna().sum().sort_values(ascending = False)*100/len(df)
nans = nans.reset_index()

In [12]:
nans.columns = ['column_name', 'percent_nans']

In [13]:
nans.head()

  column_name  percent_nans
0     RDATE_5     99.990567
1     RAMNT_5     99.990567
2     RDATE_3     99.746363
3     RAMNT_3     99.746363
4     RDATE_4     99.705488

In [14]:
nans = nans.query("percent_nans > 85")

In [15]:
nans.head()

  column_name  percent_nans
0     RDATE_5     99.990567
1     RAMNT_5     99.990567
2     RDATE_3     99.746363
3     RAMNT_3     99.746363
4     RDATE_4     99.705488

In [16]:
nans['column_name'] #to be able to copy the names of the columns in the next step

0      RDATE_5
1      RAMNT_5
2      RDATE_3
3      RAMNT_3
4      RDATE_4
5      RAMNT_4
6      RAMNT_6
7      RDATE_6
8     RAMNT_15
9     RDATE_15
10    RDATE_23
11    RAMNT_23
12    RDATE_20
13    RAMNT_20
14     RAMNT_7
15     RDATE_7
16    RAMNT_17
17    RDATE_17
18    RDATE_21
19    RAMNT_21
20    RAMNT_10
21    RDATE_10
22    RDATE_13
23    RAMNT_13
24     NUMCHLD
Name: column_name, dtype: object

In [17]:
#Remove those columns from the dataframe

In [18]:
columns=['RDATE_5','RAMNT_5','RDATE_3','RAMNT_3','RDATE_4','RAMNT_4','RAMNT_6','RDATE_6','RAMNT_15','RDATE_15'
,'RDATE_23','RAMNT_23','RDATE_20','RAMNT_20','RAMNT_7','RDATE_7','RAMNT_17','RDATE_17','RDATE_21','RAMNT_21','RAMNT_10','RDATE_10','RDATE_13','RAMNT_13','NUMCHLD']
df.drop(columns, inplace=True, axis=1)

In [19]:
df.columns

Index(['ODATEDW', 'OSOURCE', 'TCODE', 'STATE', 'ZIP', 'MAILCODE', 'PVASTATE',
       'DOB', 'NOEXCH', 'RECINHSE',
       ...
       'TARGET_D', 'HPHONE_D', 'RFA_2R', 'RFA_2F', 'RFA_2A', 'MDMAUD_R',
       'MDMAUD_F', 'MDMAUD_A', 'CLUSTER2', 'GEOCODE2'],
      dtype='object', length=456)

In [20]:
#Reduce the number of categories in the column GENDER. 
#The column should only have either "M" for males, "F" for females, and "other" for all the rest

#Note that there are a few null values in the column. We will first replace those null values using the code below:

    #print(categorical['GENDER'].value_counts())
    #categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [21]:
print(df['GENDER'].value_counts())

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [22]:
df['GENDER'] = df['GENDER'].replace([" ", "U", "J", "C", "A"],'OTHER')

In [23]:
print(df['GENDER'].value_counts())

F        51277
M        39094
OTHER     5041
Name: GENDER, dtype: int64