In [1]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [13]:
# reading the dataset
df = pd.read_csv('learningSet.csv')

# showing the head of the dataset
df.head()

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

In [14]:
#Check for null values in all the columns
df.isnull().sum()

ODATEDW       0
OSOURCE       0
TCODE         0
STATE         0
ZIP           0
           ...
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
CLUSTER2    132
GEOCODE2    132
Length: 481, dtype: int64

In [15]:
# first we will check the type of each column of the choseen columns
print(df['GEOCODE2'].dtype)
print(df['WEALTH1'].dtype)
print(df['ADI'].dtype)
print(df['DMA'].dtype)
print(df['MSA'].dtype)

object
float64
float64
float64
float64

In [16]:
# proportion of missing values in each column
df = df[['GEOCODE2', 'WEALTH1', 'ADI', 'DMA', 'MSA']]

missing_values_count = df.isnull().sum()
total_values = df.shape[0]
missing_values_ratio = missing_values_count/total_values

print(missing_values_ratio)

GEOCODE2    0.001383
WEALTH1     0.468830
ADI         0.001383
DMA         0.001383
MSA         0.001383
dtype: float64

In [17]:
# the data type is categorical, fill the missing values with the mode value of that column
df['GEOCODE2'] = df['GEOCODE2'].fillna(df['GEOCODE2'].mode()[0])

In [18]:
# the data type is numerical, fill the missing values with the mean value of that column
df['WEALTH1'] = df['WEALTH1'].fillna(df['WEALTH1'].mean())
df['ADI'] = df['ADI'].fillna(df['ADI'].mean())
df['DMA'] = df['DMA'].fillna(df['DMA'].mean())
df['MSA'] = df['MSA'].fillna(df['MSA'].mean())

In [19]:
# Finally, verify the number of missing values in each column again. If all missing values are filled
print(df.isnull().sum().sort_values(ascending = False))

GEOCODE2    0
WEALTH1     0
ADI         0
DMA         0
MSA         0
dtype: int64