In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('learningSet.csv')

In [3]:
df

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [4]:
#Check for null values in all the columns

In [5]:
df.isnull().sum()

ODATEDW       0
OSOURCE       0
TCODE         0
STATE         0
ZIP           0
           ...
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
CLUSTER2    132
GEOCODE2    132
Length: 481, dtype: int64

In [6]:
#Use appropriate methods to clean the columns GEOCODE2, WEALTH1, ADI, DMA,and MSA.

In [7]:
col_to_clean= df.loc[:, ['GEOCODE2','WEALTH1','ADI','DMA','MSA']]

In [8]:
col_to_clean

      GEOCODE2  WEALTH1    ADI    DMA     MSA
0            C      NaN  177.0  682.0     0.0
1            A      9.0   13.0  803.0  4480.0
2            C      1.0  281.0  518.0     0.0
3            C      4.0   67.0  862.0  9340.0
4            A      2.0  127.0  528.0  5000.0
...        ...      ...    ...    ...     ...
95407        C      NaN    0.0  743.0   380.0
95408        A      9.0  201.0  618.0  3360.0
95409        B      NaN   61.0  551.0  4040.0
95410        A      NaN   13.0  803.0  8735.0
95411        C      8.0  355.0  550.0  9200.0

[95412 rows x 5 columns]

In [9]:
col_to_clean.isna().sum()/len(col_to_clean)

GEOCODE2    0.001383
WEALTH1     0.468830
ADI         0.001383
DMA         0.001383
MSA         0.001383
dtype: float64

In [10]:
df['GEOCODE2'].value_counts()

A    34484
B    28505
D    16580
C    15524
       187
Name: GEOCODE2, dtype: int64

In [11]:
#I'll fill with the most common category
fill_nans= df['GEOCODE2'].value_counts(sorted).reset_index().iloc[0,0]

In [12]:
df['GEOCODE2'] = df['GEOCODE2'].fillna(fill_nans)

In [13]:
#For WEALTH1, ADI, DMA,and MSA, I'll fill with the mean

df['WEALTH1'] = df['WEALTH1'].fillna(np.mean(df['WEALTH1']))
print(df['GEOCODE2'].value_counts())

print('--------------------')

df['ADI'] = df['ADI'].fillna(np.mean(df['ADI']))
print(df['ADI'].value_counts())

print('--------------------')

df['DMA'] = df['DMA'].fillna(np.mean(df['DMA']))
print(df['DMA'].value_counts())

print('--------------------')

df['MSA'] = df['MSA'].fillna(np.mean(df['MSA']))
print(df['MSA'].value_counts())

A    34616
B    28505
D    16580
C    15524
       187
Name: GEOCODE2, dtype: int64
--------------------
13.0     7296
51.0     4622
65.0     3765
57.0     2836
105.0    2617
         ...
651.0       1
103.0       1
601.0       1
161.0       1
147.0       1
Name: ADI, Length: 205, dtype: int64
--------------------
803.0    7296
602.0    4632
807.0    3765
505.0    2839
819.0    2588
         ...
569.0       1
554.0       1
584.0       1
552.0       1
516.0       1
Name: DMA, Length: 207, dtype: int64
--------------------
0.0       21333
4480.0     4606
1600.0     4059
2160.0     2586
520.0      1685
          ...
9140.0        1
3200.0        1
9280.0        1
743.0         1
8480.0        1
Name: MSA, Length: 299, dtype: int64